---
import { render } from "astro:content";
import Sidebar from "~/components/sidebar.astro";
import Toc from "~/components/toc.astro";
import BaseLayout from "~/layouts/base-layout.astro";
import { contents } from "~/lib/content";

const slug = Astro.params["slug"];

if (slug === undefined) {
  Astro.redirect(`/404`);
}

export function getStaticPaths() {
  return contents.map((content) => ({
    params: { slug: content.id },
    props: { content },
  }));
}

const { content } = Astro.props;
const { Content, headings } = await render(content);
---

<BaseLayout>
  <div class="relative container mx-auto mt-4 flex gap-4 p-4 pb-16">
    <Sidebar current={slug} />
    <div class="flex-1">
      <main class="prose">
        <h1 id={content.data.title}>{content.data.title}</h1>
        <Content />
      </main>
    </div>
    <Toc headings={headings.filter((h) => h.depth <= 4)} />
  </div>
</BaseLayout>
