@import "tailwindcss";
@import "tw-animate-css";
@plugin "tailwindcss-motion";
@variant dark (&:where(.dark, .dark *));

:root {
  --background: hsl(220 23% 95%);
  --foreground: hsl(234 16% 5%);
  --muted: hsl(220 12% 90%);
  --muted-foreground: hsl(220 12% 30%);
  --popover: hsl(220 23% 92%);
  --popover-foreground: hsl(234 16% 25%);
  --card: hsl(220 23% 93%);
  --card-foreground: hsl(234 16% 30%);
  --border: hsl(220 13% 90%);
  --input: hsl(220 13% 87%);
  --primary: hsl(266 85% 58%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(266 30% 75%);
  --secondary-foreground: hsl(266 30% 15%);
  --accent: hsl(220 23% 80%);
  --accent-foreground: hsl(220 23% 20%);
  --destructive: hsl(3 87% 37%);
  --destructive-foreground: hsl(3 87% 97%);
  --ring: hsl(266 85% 58%);
  --chart-1: hsl(266 85% 58%);
  --chart-2: hsl(266 30% 75%);
  --chart-3: hsl(220 23% 80%);
  --chart-4: hsl(266 30% 78%);
  --chart-5: hsl(266 88% 58%);
  --rosewater: hsl(11 59% 67%);
  --flamingo: hsl(0 60% 67%);
  --pink: hsl(316 73% 69%);
  --mauve: hsl(266 85% 58%);
  --red: hsl(347 87% 44%);
  --maroon: hsl(355 76% 59%);
  --peach: hsl(22 99% 52%);
  --yellow: hsl(35 77% 49%);
  --green: hsl(109 58% 40%);
  --teal: hsl(183 74% 35%);
  --sky: hsl(197 97% 46%);
  --sapphire: hsl(189 70% 42%);
  --blue: hsl(220 91% 54%);
  --lavender: hsl(231 97% 72%);
}

.dark {
  --background: hsl(232 23% 18%);
  --foreground: hsl(227 68% 88%);
  --muted: hsl(232 12% 22%);
  --muted-foreground: hsl(232 12% 72%);
  --popover: hsl(232 23% 15%);
  --popover-foreground: hsl(227 68% 98%);
  --card: hsl(232 23% 16%);
  --card-foreground: hsl(227 68% 93%);
  --border: hsl(232 13% 23%);
  --input: hsl(232 13% 26%);
  --primary: hsl(267 83% 80%);
  --primary-foreground: hsl(267 83% 20%);
  --secondary: hsl(267 30% 25%);
  --secondary-foreground: hsl(267 30% 85%);
  --accent: hsl(232 23% 33%);
  --accent-foreground: hsl(232 23% 93%);
  --destructive: hsl(1 85% 48%);
  --destructive-foreground: hsl(0 0% 100%);
  --ring: hsl(267 83% 80%);
  --chart-1: hsl(267 83% 80%);
  --chart-2: hsl(267 30% 25%);
  --chart-3: hsl(232 23% 33%);
  --chart-4: hsl(267 30% 28%);
  --chart-5: hsl(267 86% 80%);
  --rosewater: hsl(10 58% 90%);
  --flamingo: hsl(0 58% 86%);
  --pink: hsl(316 74% 85%);
  --mauve: hsl(267 83% 80%);
  --red: hsl(351 74% 73%);
  --maroon: hsl(355 71% 77%);
  --peach: hsl(21 86% 73%);
  --yellow: hsl(40 70% 78%);
  --green: hsl(105 48% 72%);
  --teal: hsl(171 47% 69%);
  --sky: hsl(189 59% 73%);
  --sapphire: hsl(199 66% 69%);
  --blue: hsl(220 83% 75%);
  --lavender: hsl(234 82% 85%);
}

@theme {
  --radius: 0.75rem;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 2px);
  --radius-2xl: calc(var(--radius) + 4px);

  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-rosewater: var(--rosewater);
  --color-flamingo: var(--flamingo);
  --color-pink: var(--pink);
  --color-mauve: var(--mauve);
  --color-red: var(--red);
  --color-maroon: var(--maroon);
  --color-peach: var(--peach);
  --color-yellow: var(--yellow);
  --color-green: var(--green);
  --color-teal: var(--teal);
  --color-sky: var(--sky);
  --color-sapphire: var(--sapphire);
  --color-blue: var(--blue);
  --color-lavender: var(--lavender);

  @keyframes accordion-down {
    0% {
      height: 0;
    }
    100% {
      height: var(--kb-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    0% {
      height: var(--kb-accordion-content-height);
    }
    100% {
      height: 0;
    }
  }

  @keyframes content-show {
    0% {
      opacity: 0;
      transform: scale(0.96);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes content-hide {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0.96);
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background font-sans text-foreground antialiased;
  }
}

@layer components {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .prose {
    @apply mx-auto w-full max-w-[80ch] scroll-smooth;

    h1 {
      @apply text-4xl font-extrabold tracking-tight lg:text-5xl;
    }

    h2 {
      @apply mt-10 border-b pb-2 text-3xl font-semibold tracking-tight text-maroon first:mt-8;
    }

    h3 {
      @apply mt-8 text-2xl font-semibold tracking-tight text-yellow;
    }

    h4 {
      @apply mt-6 text-xl font-semibold tracking-tight text-green;
    }

    h5 {
      @apply mt-6 text-lg font-semibold tracking-tight text-sky;
    }

    h6 {
      @apply mt-6 text-base font-semibold tracking-tight text-mauve;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply scroll-mt-24;

      &:hover .anchor {
        @apply text-foreground opacity-100;
      }

      .anchor {
        @apply ml-1 rounded-md bg-background px-1 text-foreground no-underline opacity-0 transition-colors duration-75 select-none hover:bg-foreground hover:text-background;
      }
    }

    p {
      @apply leading-7 text-wrap [&:not(:first-child)]:mt-6;
    }

    blockquote {
      @apply mt-6 border-l-2 pl-6 italic;
    }

    ol,
    ul {
      @apply my-6 ml-6 list-disc [&>li]:mt-2;
    }

    ol {
      @apply list-decimal;

      li {
        &::marker {
          @apply font-semibold text-foreground/80;
        }
      }
    }

    pre {
      @apply relative max-w-[calc(100vw-2rem)]! overflow-x-auto;
    }

    code {
      @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
    }

    pre.math,
    pre.mermaid {
      @apply mt-4 mb-0 rounded-sm border px-2 text-lg shadow-[0.1rem_0.1rem_0.2rem_#e6e9ef80] dark:shadow-[0.1rem_0.1rem_0.2rem_#1e203080];
    }

    pre.mermaid {
      @apply hidden;

      &:has(svg) {
        @apply block;
      }

      svg {
        .edgePaths {
          path {
            @apply stroke-foreground!;
          }
        }

        .marker {
          * {
            @apply stroke-foreground;
          }
        }
      }
    }

    .expressive-code {
      @apply mt-6 rounded-sm;
    }

    a {
      @apply text-primary no-underline hover:underline;
    }

    @media (prefers-color-scheme: dark) {
      .markdown-alert {
        --color-border-default: #30363d;
        --color-accent-fg: #58a6ff;
        --color-accent-emphasis: #1f6feb;
        --color-danger-fg: #f85149;
        --color-danger-emphasis: #da3633;
        --color-attention-fg: #d29922;
        --color-attention-emphasis: #9e6a03;
        --color-done-fg: #a371f7;
        --color-done-emphasis: #8957e5;
        --color-success-fg: #3fb950;
        --color-success-emphasis: #238636;
      }
    }

    @media (prefers-color-scheme: light) {
      .markdown-alert {
        --color-border-default: #d0d7de;
        --color-accent-fg: #0969da;
        --color-accent-emphasis: #0969da;
        --color-danger-fg: #d1242f;
        --color-danger-emphasis: #cf222e;
        --color-attention-fg: #9a6700;
        --color-attention-emphasis: #9a6700;
        --color-done-fg: #8250df;
        --color-done-emphasis: #8250df;
        --color-success-fg: #1a7f37;
        --color-success-emphasis: #1f883d;
      }
    }

    .markdown-alert {
      border-left: 0.25em solid var(--borderColor-default, var(--color-border-default));
      color: inherit;
      margin-bottom: 16px;
      padding: 0.5rem 1em;
    }
    .markdown-alert > :last-child {
      margin-bottom: 0 !important;
    }
    .markdown-alert .markdown-alert-title {
      align-items: center;
      display: flex;
      font-size: 14px;
      font-weight: 500;
      line-height: 1;
    }
    .markdown-alert .markdown-alert-title svg.octicon {
      margin-right: 8px !important;
      margin-right: var(--base-size-8, 8px) !important;
      fill: currentColor;
    }
    .markdown-alert.markdown-alert-note {
      border-left-color: var(--borderColor-accent-emphasis, var(--color-accent-emphasis));
    }
    .markdown-alert.markdown-alert-note .markdown-alert-title {
      color: var(--color-accent-fg);
      color: var(--fgColor-accent, var(--color-accent-fg));
    }
    .markdown-alert.markdown-alert-tip {
      border-left-color: var(--borderColor-success-emphasis, var(--color-success-emphasis));
    }
    .markdown-alert.markdown-alert-tip .markdown-alert-title {
      color: var(--color-success-fg);
      color: var(--fgColor-success, var(--color-success-fg));
    }
    .markdown-alert.markdown-alert-important {
      border-left-color: var(--borderColor-done-emphasis, var(--color-done-emphasis));
    }
    .markdown-alert.markdown-alert-important .markdown-alert-title {
      color: var(--color-done-fg);
      color: var(--fgColor-done, var(--color-done-fg));
    }
    .markdown-alert.markdown-alert-warning {
      border-left-color: var(--borderColor-attention-emphasis, var(--color-attention-emphasis));
    }
    .markdown-alert.markdown-alert-warning .markdown-alert-title {
      color: var(--color-attention-fg);
      color: var(--fgColor-attention, var(--color-attention-fg));
    }
    .markdown-alert.markdown-alert-caution {
      border-left-color: var(--borderColor-danger-emphasis, var(--color-danger-emphasis));
    }
    .markdown-alert.markdown-alert-caution .markdown-alert-title {
      color: var(--color-danger-fg);
      color: var(--fgColor-danger, var(--color-danger-fg));
    }
  }

  .file-tree {
    @apply mt-6 overflow-x-auto border p-4 text-xs;

    img,
    svg {
      @apply h-4 w-4;
    }

    .file {
      .tree-item {
        @apply inline-flex items-center gap-1;
      }
    }

    .tree-item {
      @apply py-0.5;
    }

    ul,
    ol {
      @apply my-0 ml-2 list-none border-l [&>li]:mt-0;
    }

    .directory {
      details {
        @apply bg-transparent marker:text-muted-foreground;

        summary {
          @apply mb-0.5 w-full list-none transition-colors duration-75 hover:cursor-pointer hover:text-blue has-[.tree-item.highlight]:hover:[&_.highlight]:bg-accent/75;

          .tree-item {
            @apply inline-flex items-center gap-1;

            .tree-directory-icon {
              .close {
                @apply inline;
              }
              .open {
                @apply hidden;
              }
            }
          }
        }

        ul {
          @apply pl-3;
        }

        &[open] {
          summary {
            .tree-item {
              .tree-directory-icon {
                .close {
                  @apply hidden;
                }
                .open {
                  @apply inline;
                }
              }
            }
          }
        }
      }
    }

    .highlight {
      @apply rounded-sm bg-accent pr-2 text-accent-foreground transition-colors duration-75;
    }

    & > ul {
      @apply border-0;
    }
  }
}
