---
import { LineiconsGithubOriginal } from "~/icons/lineicons/github-original";
import { contents } from "~/lib/content";
import { Button } from "../ui/button";
import MobileSidebar from "./mobile-sidebar.tsx";
import { SearchButton } from "./search-dialog";
import Search from "./search.astro";
import { ThemeToggle } from "./theme-toggle.tsx";

const url = new URL(Astro.url);
---

<header
  class="fixed top-0 z-1 flex w-full justify-center border-b border-border/40 bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60 dark:border-border"
>
  <div class="container flex h-16 items-center justify-between px-4">
    <nav>
      <a href="/">pekochan069</a>
    </nav>
    <div class="flex items-center gap-2">
      <div>
        <SearchButton client:load />
        <Search />
      </div>
      <Button
        as="a"
        href="https://github.com/pekochan069"
        target="_blank"
        rel="noopener noreferrer"
        variant="ghost"
        size="icon"
        class="size-9"
      >
        <LineiconsGithubOriginal class="size-5" />
      </Button>
      <ThemeToggle client:load />
      {
        url.pathname.startsWith("/posts/") && (
          <MobileSidebar contents={contents} current={url.pathname.split("/")[2]} client:load />
        )
      }
    </div>
  </div>
</header>
